{% comment %}
  Footer for a standard workshop.
{% endcomment %}
<footer>
  <div class="row">
	<div class="col-md-6" align="left">
	  <h4>
	{% if site.carpentry == "alliance" %}
	Copyright &copy; 2016–2022 <a href="{{ site.cc_site }}">Compute Canada</a><br>
	Copyright &copy; 2022–{{ 'now' | date: "%Y" }}
	<a href="{{ site.alliance_site }}">Digital Research Alliance of Canada</a>
	{% else %}
	Copyright &copy; 2016–{{ 'now' | date: "%Y" }}
	{% if site.carpentry == "swc" %}
	<a href="{{ site.swc_site }}">Software Carpentry</a>
	{% elsif site.carpentry == "dc" %}
	<a href="{{ site.dc_site }}">Data Carpentry</a>
	{% elsif site.carpentry == "lc" %}
	<a href="{{ site.lc_site }}">Library Carpentry</a>
	{% elsif site.carpentry == "cp" %}
	<a href="{{ site.carpentries_site }}">The Carpentries</a>
	{% elsif site.carpentry == "an" %}
	<a href="{{ site.an_site }}">ACENET</a>
	{% elsif site.carpentry == "cc" %}
	<a href="{{ site.cc_site }}">Compute Canada</a>
	{% elsif site.carpentry == "molmodsim" or site.carpentry == "bst" %}
	<a href="{{ site.bst_site }}">Molecular Modelling &amp; Simulation Team (Digital Research Alliance of Canada)</a>
	{% endif %}
	{% if site.carpentry != "swc" and site.carpentry != "dc" and site.carpentry != "lc" and site.carpentry != "cp"  %}
	&dash; Derived from <a href="https://software-carpentry.org/">Software Carpentry</a>
	{% endif %}
	{% endif %}
	  </h4>
	</div>
	<div class="col-md-6" align="right">
	  <h4>
	<a href="mailto:{{ site.email }}">Contact The Carpentries</a>
	  </h4>
	</div>
  </div>
</footer>
